<%- include ("header") -%> 

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for (let index=0; index < newItems.length; index++) { %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newItems[index] %>
                </p>
            </div>
            <% } %>

            <form class="item" action="/" method="post">
                <input type="text" name="item" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
    </div>

    <%- include ("footer") -%> 

