<%- include partials/header.ejs %>

    <h1>Compose</h1>
    <div class="container" style="width: 100%;">
        <form action="/" method="post">
            <div class="formgroup">
                <label >Title</label>
                <input class="form-control" type="text" name="postTitle">
                <label>Post</label>
                <textarea class="form-control" name="postBody" cols="30" rows="5"></textarea>
                <button class="btn btn-primary" type="submit" name="button">Publish</button>

            </div>
        </form>
    </div>
    <%- include partials/footer.ejs %>