<%- include partials/header.ejs -%>

    <h1>Home</h1>

    <p>
        <%=homeStartingContent%>
    </p>

    <% posts.forEach(element=> {%>
        
        <h1>
        <%= element.title %>
        </h1>

        <p>
            <%= element.text.substring(0, 50) + "..." %>
            <a href="/posts/<%= element.title %>"
            >click here</a>
        </p>
        <% }); %>

 <%- include partials/footer.ejs %>